---
import Forest from "@/assets/images/forest-blue-edited.png";

import Html from "@/assets/icons/html5.svg";
import Css from "@/assets/icons/css.svg";
import Javascript from "@/assets/icons/javascript.svg";
import Typescript from "@/assets/icons/typescript.svg";
import Php from "@/assets/icons/php_dark.svg";
import Angular from "@/assets/icons/angular.svg";
import React from "@/assets/icons/react_dark.svg";
import Laravel from "@/assets/icons/laravel.svg";
import Symfony from "@/assets/icons/symfony.svg";
import Node from "@/assets/icons/nodejs.svg";
import Bun from "@/assets/icons/bun.svg";
import Tailwind from "@/assets/icons/tailwindcss.svg";
import Git from "@/assets/icons/git.svg";
import Github from "@/assets/icons/github_dark.svg";
import Vite from "@/assets/icons/vitejs.svg";
import AstroFramework from "@/assets/icons/astro_dark.svg";
import Wordpress from "@/assets/icons/wordpress.svg";
import Figma from "@/assets/icons/figma.svg";
import Java from "@/assets/icons/java.svg";
import Material from "@/assets/icons/materialui.svg";
import MySql from "@/assets/icons/mysql.svg";
import Rxjs from "@/assets/icons/rxjs.svg";
import Vercel from "@/assets/icons/vercel_dark.svg";
import Warp from "@/assets/icons/warp.svg";
import Aws from "@/assets/icons/aws.svg";

import Location from "@/assets/icons/location.svg";
import ImageProfile from "@/assets/images/img_profile.png";
---

<article class="grid grid-cols-3 grid-rows-7 gap-5 text-white [&>div]:p-8">
  <div class="col-span-2 row-span-2 bg-primary rounded-2xl">
    <h2 class="font-family-title text-3xl mb-5">Who am I?</h2>
    <p class="font-family-light text-xl">
      I'm Eric, a technology enthusiast with a special interest in web
      development. I consider myself a curious person, committed to continuous
      learning, as I see technology as a constantly evolving field full of
      opportunities for growth. I'm also passionate about the Linux ecosystem,
      which I use both for its philosophy and the technical possibilities it
      offers. Outside the professional sphere, I enjoy reading, with epic
      fantasy being one of my favorite genres.
    </p>
  </div>
  <div class="row-span-3 col-start-3 overflow-hidden object-cover rounded-2xl">
    <img class="h-full w-full scale-165" src={Forest.src} alt="" />
  </div>
  <div class="row-span-3 col-start-2 row-start-3 bg-primary rounded-2xl">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <img class="w-40 rounded-full" src={ImageProfile.src} alt="Eric Baena" />
      <h2 class="font-family-title text-4xl text-center mt-7">Eric Baena</h2>
      <div class="w-full flex items-center justify-center mt-3">
        <img class="" src={Location.src} alt="" />
        <span class="font-family-regular text-lg ml-2 -translate-x-1">
          Barcelona, Spain
        </span>
      </div>
    </div>
  </div>
  <div class="row-span-4 col-start-1 row-start-4 bg-primary rounded-2xl">
    <h2 class="font-family-title text-3xl mb-10">Technologies</h2>
    <div class="grid-responsive p-2">
      <img src={Html.src} alt="" />
      <img src={Css.src} alt="" />
      <img src={Javascript.src} alt="" />
      <img src={Typescript.src} alt="" />
      <img class="mt-2" src={Tailwind.src} alt="" />
      <img src={MySql.src} alt="" />
      <img class="mt-4" src={Php.src} alt="" />
      <img class="scale-80 -translate-y-1" src={Java.src} alt="" />
      <img class="scale-80" src={AstroFramework.src} alt="" />
      <img src={Angular.src} alt="" />
      <img class="mt-1" src={React.src} alt="" />
      <img class="shadow-2xl" src={Symfony.src} alt="" />
      <img class="mt-1" src={Laravel.src} alt="" />
      <img src={Git.src} alt="" />
      <img src={Github.src} alt="" />
      <img class="mt-1" src={Wordpress.src} alt="" />
      <img class="mt-1" src={Node.src} alt="" />
      <img class="mt-1" src={Bun.src} alt="" />
      <img src={Rxjs.src} alt="" />
      <img class="scale-60 -translate-y-2" src={Figma.src} alt="" />
      <img class="-translate-y-2" src={Vite.src} alt="" />
      <img class="-translate-y-2" src={Material.src} alt="" />
      <img class="-translate-y-2" src={Vercel.src} alt="" />
      <img class="-translate-y-2" src={Warp.src} alt="" />
      <img src={Aws.src} alt="" />
    </div>
  </div>
  <div
    class="col-span-2 row-span-2 col-start-2 row-start-6 bg-primary rounded-2xl"
  >
    <h2 class="font-family-title text-3xl mb-5">Education</h2>
    <ul class="list-disc font-family-regular text-lg ml-5">
      <li class="mb-5">
        <h3 class="font-family-light text-xl">
          Higher Technician in Web Application Development
          <br /><span class="font-family-title">2023-2025</span>
        </h3>
        <p class="font-family-regular text-lg">Stucom - Barcelona, Spain</p>
      </li>

      <li>
        <h3 class="font-family-light text-xl">
          Intermediate Technician in Microcomputer and Network Systems
          <br /><span class="font-family-title">2021-2023</span>
        </h3>
        <p class="font-family-regular text-lg">Estatut - Rubí, Spain</p>
      </li>
    </ul>
  </div>
  <div class="row-span-2 col-start-3 row-start-4 bg-secondary rounded-2xl">
    6
  </div>
  <div
    class="col-start-1 row-start-3 bg-secondary text-4xl font-family-title rounded-2xl"
  >
    <h2 class="text-center">Web Developer</h2>
    <h2 class="text-center">Full Stack</h2>
  </div>
</article>

<style>
  .grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
    gap: 2rem;
  }
</style>
